{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Category
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Category</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Category Form</h5>
                                <form id="category" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="catname">Category Name</label>
                                        <input type="text" id="cname" class="form-control" required>
                                    </div>
                                    <button type="submit"  class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Category List</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for category in categories %}
                                            <tr>
                                                <th>{{category.name}}</th>
                                               
                                                <th> 
                                                    <button type="button" onClick="DeleteCatSubcat('{{category.cat_id}}',true)" class="btn btn-danger btn-sm">Delete</button>
                                                </th>
                                            </tr>
                                            {% endfor %}
                                           
                                            
                                        </tbody>
                                       
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
        
            </div>
         
    {% endblock content %}
    <!-- ------------------------------------------------- -->
        {% block javascript %}
      
        <!-- slimscrollbar scrollbar JavaScript -->
       
       
        <!-- this page js -->
        <script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
        <script>
    $("#category").submit(function(event){
                event.preventDefault();
                
    $.ajax({
      url: "{% url 'categorymanage'%}",
      data:{name:$('#cname').val()},
      type: 'POST',

      headers: {
                        "X-CSRFTOKEN": "{{ csrf_token }}"
                },
    
      success: function(data){
        if(data.success){
        swal("Done!", data.name+" is Created", "success").then(function(){ window.location.reload();})
        }
        else{
            swal("Oops!", 'Something Went Wrong', "error")

        }

        }   
     });
      });



      function DeleteCatSubcat(id,flag)
            {
                var data={};
                if(flag)
                {
                    data['category']=id;
                }
                else{
                    data['subcategory']=id;
                }
                
            
                swal({
  title: "Are you sure?",
  text: "You will not be able to recover this Category Data!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    $.ajax({
              type: 'POST',
              url: '{% url "delete_CatSubcat" %}',
              headers: {
                           "X-CSRFTOKEN": "{{ csrf_token }}"
                   },
              data: data,
              success: function (data) {
                swal("Deleted!", "Your category  has been deleted.", "success").then(function(){
                    window.location.reload();

                })
              },
              error: function (data) {
                swal("Cancelled", "Your category Data is safe :)", "success");
              }
            });

            } else {
                swal("Cancelled", "Your Category Data is safe :)", "success");
                }
});
    
     }
        
      </script>
       
        <script>
            /****************************************
             *       Basic Table                   *
             ****************************************/
            $('#zero_config').DataTable();
        </script>
        {% endblock javascript%}
    
    