{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
Course subscription    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Course Subscription Submission</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Course Subscription </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Course Subscription</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Course Name</th>
                                                <th>Facilitator Name</th>
                                                <th>Price</th>
                                                <th>Added on</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for order in orders %}
                                            <tr>
                                                <th>{{order.order.customer.first_name}}</th>
                                                <th>{{order.course.title}}</th> 
                                                <th>{{order.course.offering.all.0.name}}</th> 
                                                <th>Rs.{{order.order.price}}</th>
                                                <th>{{order.order.date.date}}</th>
                                                <th><span class="badge badge-success">Paid</span></th>
                                                <th> 
                                                    <!-- <button type="button" class="btn btn-cyan btn-md mt-2">Send </button> -->
                                                    <!-- <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a> -->
                                                    <button type="button" onClick="DeleteOrderCourse('{{order.id}}')"  class="btn btn-danger btn-sm">Delete </button>
                                                </th>

                                            </tr>
                                            {% endfor %}
                                           
                                        </tbody>
                                       
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
        
            


           
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Course Subscription Revenue</h5>
                                <div class="table-responsive">
                                    <table id="zero_config2" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Course Name</th>
                                                <th>Facilitator Name</th>
                                                <th>Price</th>
                                                <th>Fascilitator Revenue</th>
                                                <th>Admin Revenue</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for revenue in revenues %}
                                            <tr>
                                                <th>{{revenue.revenue_item.order.customer.get_full_name}}</th>
                                                <th>{{revenue.revenue_item.course.title}}</th> 
                                                <th>{{revenue.revenue_item.course.offering.all.0.name}}</th> 
                                                <th>{{revenue.revenue_item.course.price}}</th>
                                                <th>Rs.{{revenue.facilitator_revenue}}</th>
                                                <th>Rs.{{revenue.admin_revenue}}</th>
                                                <th><span class="badge badge-success">{{revenue.status}}</span></th>
                                                <th> 
                                                    <!-- <button type="button" class="btn btn-cyan btn-md mt-2">Send </button> -->
                                                    <!-- <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a> -->
                                                    <button type="button"  class="btn btn-success btn-sm" disabled>Paid </button>
                                                </th>

                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                       
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
        
            </div>
         
    {% endblock content %}
    <!-- ------------------------------------------------- -->
        {% block javascript %}
      
        <!-- slimscrollbar scrollbar JavaScript -->
       
       
        <!-- this page js -->
        <script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
        <script>
            function DeleteOrderCourse(id)
            {
                swal({
        title: "Are you sure?",
        text: "You will not be able to recover this Order Data!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel plz!",
        closeOnConfirm: false,
        closeOnCancel: false
      },
        function (isConfirm) {
          if (isConfirm) {
            $.ajax({
              type: 'POST',
              url: '{% url "delete_order_course" %}',
              headers: {
                           "X-CSRFTOKEN": "{{ csrf_token }}"
                   },
              data: {id : id},
              success: function (data) {
                swal("Deleted!", "Your record has been deleted.", "success");
              },
              error: function (data) {
                swal("NOT Deleted!", "Something blew up.", "error");
              }
            });
          } else {
            swal("Cancelled", "Your record is safe :)", "error");
          }
        });
    
      return false;
    
    
            }
        </script>
       
        <script>
            /****************************************
             *       Basic Table                   *
             ****************************************/
            $('#zero_config').DataTable();
            $('#zero_config2').DataTable();

        </script>
        {% endblock javascript%}
    
    