{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Dashboard
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}
           
           
    {% endblock content %}
<!-- ------------------------------------------------- -->
    {% block javascript %}
    
    {% endblock javascript%}

