{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Campus Submission
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Learner Support Submission</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Learner Support </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Learner Support</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Queries</th>
                                                <th>Replies</th>
                                                <th>Added on</th>
                                                <th>Replied on</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for query in queries %}
                                            <tr>
                                                <th>{{query.Lid.name}}</th>
                                                <th>{{query.query}}</th>
                                                {% if query.replay %}
                                                <th>{{query.replay}}</th>
                                                {% else %} 
                                                <th><input type="text" name="reply" placeholder="Reply" id="replay" class="form-control">
                                                    <button type="button" onClick="send('{{query.id}}')" id="send"class="btn btn-cyan btn-md mt-2">Send </button></th>
                                                {% endif %}
                                                <th>{{query.added.date}}</th>
                                                <th>{{query.updated.date}}</th>

                                                <th> 
                                                    
                                                    <!-- <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a> -->
                                                    <button type="button" onClick="Delete('{{query.id}}','lquery')" class="btn btn-danger btn-sm">Delete </button>
                                            </th>
                                            </tr>
                                            {% endfor %}
                                           
                                           
                                        </tbody>
                                       
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
        
            </div>
         
    {% endblock content %}
    <!-- ------------------------------------------------- -->
        {% block javascript %}
      
        <!-- slimscrollbar scrollbar JavaScript -->
       
       
        <!-- this page js -->
        <script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
        <script>

        function Delete(id,query){
                var formData = new FormData();
                    formData.append(query,id);

        $.ajax({
            url: "{% url 'Delete_support_queries' %}",
            async: false,
            data: formData,
            contentType: false,
            processData: false,
            headers: {
                           "X-CSRFTOKEN": "{{ csrf_token }}"
                   },
            type: 'POST',
            cache: false,
            
            error: function(xhr, status, error) {
            alert(error);
            },
            success: function(response) {
            
            swal("Done!", "Delete Successfully", "success").then(function(){window.location.reload();});
            
            }
            });

                
            }
            

            function send(id){
            
            var formData = new FormData();
            formData.append('replay',$('#replay').val());
            formData.append('id',id);

           
            $.ajax({
            url: "{% url 'admin_to_learner_support' %}",
            async: false,
            data: formData,
            contentType: false,
            processData: false,
            headers: {
                           "X-CSRFTOKEN": "{{ csrf_token }}"
                   },
            type: 'POST',
            cache: false,
            
            error: function(xhr, status, error) {
            alert(error);
            },
            success: function(response) {
            swal("Done!", "Replied Successfully", "success").then(function(){window.location.reload();});

            }
            });
            
            
            }
               </script>
       
        <script>
            /****************************************
             *       Basic Table                   *
             ****************************************/
            $('#zero_config').DataTable();
        </script>
        {% endblock javascript%}
    
    