{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Edit Profile
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
    <link href="{% static 'admin/assets/libs/flot/css/float-chart.css'%}" rel="stylesheet">
     <!-- Custom CSS -->
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/select2/dist/css/select2.min.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/jquery-minicolors/jquery.minicolors.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/quill/dist/quill.snow.css'%}">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div style="width: 70%; text-align: center;">
                    <img src="{% static 'admin/assets/images/users/1.jpg' %}" alt="user" class="rounded-circle" style="width: 100%;">
                    <button class="btn btn-primary m-5">Upload image</button>
                </div>
               
               
            </div>
        </div>
        <div class="col-md-8  col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Update profile</h3>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name">Name </label>
                            <input type="text " class="form-control" id="name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email">email </label>
                            <input type="email " class="form-control" id="email" placeholder="email"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>

                    <h3 class="card-title mt-5">Change Password</h3>
                    <form action="" method="">
                        <div class="form-group">
                            <label for="oldpassword">Old Password </label>
                            <input type="password " class="form-control" id="oldpassword" placeholder="Old Password"/>
                        </div>
                        <div class="form-group">
                            <label for="password">New Password </label>
                            <input type="password " class="form-control" id="password" placeholder="New Password"/>
                        </div>
                        <div class="form-group">
                            <label for="cnfrmpass">Confirm Password </label>
                            <input type="password " class="form-control" id="cnfrmpass" placeholder="Confirm New Password"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
<!-- ------------------------------------------------- -->
    {% block javascript %}
   
    
    <script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>
    {% endblock javascript%}

