{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Contact & Councelling
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title"> Contact & Councelling Submission</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Contact & Councelling   </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Councelling Submission</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone number</th>
                                                <th>Mail id</th>
                                                <th>Added on</th>
                                             
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in councelling_list %}
                                            <tr>
                                                <th>{{record.name}}</th>
                                                <th>{{record.phone_number}}</th>
                                                <th>{{record.email}}</th>
                                                <th>{{record.added.date}}</th>
                                                
                                                <th> 
                                                    <a href="mailto:{{record.email}}"><button type="button" class="btn btn-cyan btn-md">Mail</button></a>
                                                    <!-- <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a> -->
                                                    <button type="button" onClick="DeleteQueries('{{record.councelling_id}}',false)" class="btn btn-danger btn-sm">Delete</button>
                                            </th>
                                            </tr>
                                            {% endfor %}
                                            <!-- <tr>
                                                <th>Vijay Gwala</th>
                                                <th>99999999999</th>
                                                <th>Vijay@gmail.com</th>
                                                <th>12/12/2020</th>
                                                <th>6</th>
                                                <th> 
                                                    <a href="{% url 'view_edit_facilitators' %}"><button type="button" class="btn btn-cyan btn-md">View/Edit</button></a>
                                                    <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a>
                                                    <a href=""><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                               </th>
                                            </tr>
                                            <tr>
                                                <th>Vijay Gwala</th>
                                                <th>99999999999</th>
                                                <th>Vijay@gmail.com</th>
                                                <th>12/12/2020</th>
                                                <th>6</th>
                                                <th> 
                                                    <a href="{% url 'view_edit_facilitators' %}"><button type="button" class="btn btn-cyan btn-md">View/Edit</button></a>
                                                    <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a>
                                                    <a href=""><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                               </th>
                                            </tr> -->
                                            
                                        </tbody>
                                        
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Contact us Submission</h5>
                                <div class="table-responsive">
                                    <table id="zero_config2" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone number</th>
                                                <th>Mail id</th>
                                                <th>Message</th>
                                                <th>Category</th>
                                                <th>Added on</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in contact_list %}
                                            <tr>
                                                <th>{{record.name}}</th>
                                                <th>{{record.mobile}}</th>
                                                <th>{{record.email}}</th>
                                                <th>{{record.message}}</th>
                                                <th>{{record.categories}}</th>
                                                <th>{{record.added.date}}</th>
                                                <th>
                                                     
                                                    <a href="mailto:{{record.email}}"><button type="button" class="btn btn-cyan btn-md">Mail</button></a>
                                                    <!-- <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a> -->
                                                    <button type="button" onClick="DeleteQueries('{{record.id}}',true)"class="btn btn-danger btn-sm">Delete</button>
                                            </th>
                                            </tr>
                                            {% endfor %}
                                            
                                            
                                        </tbody>
                                    
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
    {% endblock content %}
    <!-- ------------------------------------------------- -->
{% block javascript %}

<!-- slimscrollbar scrollbar JavaScript -->

<script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
<script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
<script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
<script>
    function DeleteQueries(id,flag)
    {
        var data={};
        if(flag)
        {
            data['contactus']=id;
        }
        else{
            data['councelling']=id;
        }


        swal({
title: "Are you sure?",
text: "You will not be able to recover this training Data!",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willDelete) => {
if (willDelete) {
$.ajax({
      type: 'POST',
      url: '{% url "delete_contactus_councelling" %}',
      headers: {
                   "X-CSRFTOKEN": "{{ csrf_token }}"
           },
      data: data,
      success: function (data) {
        swal("Deleted!", "Your Training Data  has been deleted.", "success").then(function(){
            window.location.reload();

        })
      },
      error: function (data) {
        swal("Cancelled", "Your Training Data is safe :)", "success");
      }
    });

    } else {
        swal("Cancelled", "Your Training Data is safe :)", "success");
        }
});
    
    
     
}
</script>
<script>
    /****************************************
        *       Basic Table                   *
        ****************************************/
    $('#zero_config').DataTable();
    $('#zero_config2').DataTable();
</script>
{% endblock javascript%}
    
    