{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Edit Facilitators
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
    <link href="{% static 'admin/assets/libs/flot/css/float-chart.css'%}" rel="stylesheet">
     <!-- Custom CSS -->
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/select2/dist/css/select2.min.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/jquery-minicolors/jquery.minicolors.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/libs/quill/dist/quill.snow.css'%}">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Vijay Gwala</h3>
                                <ul class="list-style-none">
                                    <li  class="d-flex no-block border-top pb-3 pt-3">Fid:<span class="pl-2 text-info">{{facilitator.Fid}}</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">DOB:<span class="pl-2 text-info">{% if facilitator.DOB %}{{facilitator.DOB}}{% endif %}</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">Email: <span class="pl-2 text-info"> {{facilitator.user.user.email}}</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">Phone No:<span class="pl-2 text-info"></span></li>
                                
                                    <li class="d-flex no-block border-top pb-3 pt-3">Address:<span class="pl-2 text-info">{% if facilitator.PAddress %}{{facilitator.PAddress}}{% endif %}</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">Status:<span class="pl-2 text-info">Active</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">added on:<span class="pl-2 text-info">{{facilitator.added.date}}</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">Last updated on:<span class="pl-2 text-info">{{facilitator.updated.date}}</span></li>
                                    <li class="d-flex no-block border-top pb-3 pt-3">Total Revenue earned :<span class="pl-2 text-info"></span></li>
                                </ul>
                                <a href="mailto:" > <button class="btn btn-primary"> Mail this Learner</button> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Corses Created</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Course Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Ratings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for course in facilitator.getCourses %}
                                    <tr>
                                        <td>{{course.title}}</td>
                                        <td class="text-info">Rs {{course.price}}</td>
                                        <td>
                                            {{ course.no_of_ratings }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form id="facilitator_form"class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Personal Info</h4>
                                    <div class="form-group ">
                                        <label for="fname" class=" text-right control-label col-form-label">Name</label>
                                        
                                            <input type="text" class="form-control" id="name" name="name" value="{{facilitator.name}}" placeholder="Name Here">
                                        
                                    </div>
                                    <div class="form-group ">
                                        <label for="dob" class=" text-right control-label col-form-label">DOB</label>
                                        
                                            <input type="date" class="form-control" id="DOB" name="DOB" value="{{facilitator.DOB.date|date:'Y-m-d'}}">
                                        
                                    </div>
                                   
                                    <div class="form-group ">
                                        <label for="email1" class="text-right control-label col-form-label">Email id</label>
                                        
                                            <input type="email" class="form-control" id="email" name="email" value="{{facilitator.user.user.email}}"placeholder="Email Here" readonly>
                                        
                                    </div>
                                    <div class="form-group ">
                                        <label for="cono1" class=" text-right control-label col-form-label">Contact No</label>
                                        
                                            <input type="number" class="form-control" id="phone" name="phone" value="{{facilitator.phone}}"placeholder="Contact No Here">
                                        
                                    </div>
                                    <div class="form-group ">
                                        <label for="fname" class=" text-right control-label col-form-label">Address</label>
                                        
                                            <input type="text" class="form-control" id="PAddress" name="PAddress" value="{% if facilitator.PAddress %}{{facilitator.PAddress}}{% endif %}" placeholder="Address Here">
                                        
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="fname" class=" text-right control-label col-form-label">State</label>
                                            
                                            <input type="text" class="form-control" id="state" name="state" value="{% if facilitator.state %}{{facilitator.state}}{% endif %}"placeholder="City Here">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="fname" class=" text-right control-label col-form-label">Country</label>
                                            
                                            <input type="text" class="form-control" name="country" value="{% if facilitator.country %}{{facilitator.country}}{% endif %}" id="country" placeholder="country Here">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="fname" class=" text-right control-label col-form-label">Pincode</label>
                                            
                                                <input type="number" class="form-control" name="zip" value="{% if facilitator.zipcode %}{{facilitator.zipcode}}{% endif %}"id="zip" placeholder="Pincode Here">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cono1" class=" text-right control-label col-form-label">Bio</label>
                                        
                                            <textarea class="form-control" name="bio" id="bio" value="{% if facilitator.Bio %}{{facilitator.Bio}}{% endif %}"></textarea>
                                        
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" id="facilitator_profile_update" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="text-align: right;width: 100%;">
                    <button type="button" onclick="DeleteUser('{{facilitator.user.user.id}}')"class="btn btn-danger btn-lr">Delete this Facilitator</button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           
           
    {% endblock content %}
<!-- ------------------------------------------------- -->
    {% block javascript %}
   
    
    <script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script>
        function DeleteUser(id)
        {
            swal({
  title: "Are you sure?",
  text: "You will not be able to recover this Facilitator Data!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    $.ajax({
          type: 'POST',
          url: '{% url "delete_user" %}',
          headers: {
                       "X-CSRFTOKEN": "{{ csrf_token }}"
               },
          data: {id : id},
          success: function (data) {
            swal("Deleted!", "Your Facilitator  has been deleted.", "success");
          },
          error: function (data) {
            swal("NOT Deleted!", "Something blew up.", "error");
          }
        });
  } else {
    swal("Cancelled", "Your Facilitator is safe :)", "success");
  }
});

        }
    </script>
    <script>
$("#facilitator_profile_update").click(function(event){
event.preventDefault();
var formData = new FormData();
formData.append('name',$('#name').val());
formData.append('email',$('#email').val());
formData.append('phone',$('#phone').val());
formData.append('DOB',$('#DOB').val());
formData.append('PAddress',$('#PAddress').val());
formData.append('state',$('#state').val());
formData.append('country',$('#country').val());
formData.append('zipcode',$('#zip').val());
formData.append('bio',$('#bio').val());
$.ajax({
url: "{% url 'view_edit_facilitators' %}",
async: false,
data: formData,
contentType: false,
processData: false,
headers: {
               "X-CSRFTOKEN": "{{ csrf_token }}"
       },
type: 'POST',
cache: false,

error: function(xhr, status, error) {
alert(error);
},
success: function(response) {
swal("Done!", "Profile updated Successfully", "success");

}
});


});
   </script>
   
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function() {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
    {% endblock javascript%}

