{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
    Campus Submission
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/extra-libs/multicheck/multicheck.css'%}">
    <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}" rel="stylesheet">
  
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

   
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Campus training Submission</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Campus training </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Campus training Submission</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                 <th>Campus Nmae</th>
                                                <th>Mail id</th>
                                                <th>Added on</th>
                                                <th>Course</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in records %}
                                            <tr>
                                                <th>{{record.name}}</th>
                                                <th>{{record.campus}}</th> 
                                                <th>{{record.email}}</th>
                                                <th>{{record.added.date}}</th>
                                                <th>{{record.course.title}}</th>
                                                <th> 
                                                    <a href="mailto:{{record.email}}"><button type="button" class="btn btn-cyan btn-md">Mail</button></a>
                                                    <!-- <a href=""><button type="button" class="btn btn-success btn-sm">Active</button></a> -->
                                                    <button type="button" onclick="DeleteTraining('{{record.id}}',true)" class="btn btn-danger btn-sm">Delete</button>
                                            </th>
                                            </tr>
                                           
                                            {% endfor %}
                                        </tbody>
                                       
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
        
            </div>
         
    {% endblock content %}
    <!-- ------------------------------------------------- -->
        {% block javascript %}
      
        <!-- slimscrollbar scrollbar JavaScript -->
       
       
        <!-- this page js -->
        <script src="{% static 'admin/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
        <script src="{% static 'admin/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
        <script>
            function DeleteTraining(id,flag)
            {
                var data={};
                if(flag)
                {
                    data['campus']=id;
                }
                else{
                    data['corporate']=id;
                }
            
            
                swal({
        title: "Are you sure?",
        text: "You will not be able to recover this training Data!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel plz!",
        closeOnConfirm: false,
        closeOnCancel: false
      },
        function (isConfirm) {
          if (isConfirm) {
            $.ajax({
              type: 'POST',
              url: '{% url "delete_training" %}',
              headers: {
                           "X-CSRFTOKEN": "{{ csrf_token }}"
                   },
              data: data,
              success: function (data) {
                swal("Deleted!", "Your Training Data  has been deleted.", "success")
                window.location.reload();
              },
              error: function (data) {
                swal("NOT Deleted!", "Something blew up.", "error");
              }
            });
          } else {
            swal("Cancelled", "Your Training Data is safe :)", "success");
          }
        });
    
      return false;
    
     }
        </script>
    
       
        <script>
            /****************************************
             *       Basic Table                   *
             ****************************************/
            $('#zero_config').DataTable();
        </script>
        {% endblock javascript%}
    
    